.equal-btn {
    width: 130px;
    margin: 0 10px;
    font-size: 1.5em;
}

.home-page p, .register-page p, .login-page p {
    font-size: 1.2em;
    font-weight: 400;
}

.register-page input, .login-page input {
    width: 60%;
    float: right;
}

.landing-page button {
    font-size: 1em;
}