<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 pass-page">
        <div class="centered">
            <h2>Continue Message</h2><br>
            <audio id="telephone" src="{{ telephone.sound_url | trusted }}" preload="auto">Browser does not support HTML5</audio>
            <i ng-show="onlyOnce" ng-click="playAudio();" class="fa fa-play-circle-o"></i>
        </div>
        <p>Message: <textarea rows="6" ng-model="text" placeholder="200 char limit"></textarea></p>
        <div class="centered">
            <button class="btn btn-danger equal-btn" ng-click="createSound();">Pass It On</button>
        </div>
    </div>
</div>

