<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 login-page">
        <div class="centered">
            <h1>Profile</h1>
            <img src="static/media/{{ profile.picture }}" class="img-circle">
        </div>

        <p>Username: <input ng-model="user.username" ng-readonly="editMode"></p>
        <p>Email: <input ng-model="user.email" ng-readonly="editMode"></p>
        <p>First Name: <input ng-model="user.first_name" ng-readonly="editMode"></p>
        <p>Last Name: <input ng-model="user.last_name" ng-readonly="editMode"></p>
        <p>Description: <input ng-model="profile.description" ng-readonly="editMode"></p><br>
        <div class="centered">
            <button class="btn btn-primary equal-btn" ng-click="toggleEdit();">Edit</button>
        </div>
        <p>
            <b>Telephone Messages:</b>
            <ol>
                <li ng-repeat="message in user.telephones track by $index">{{ message }}</li>
            </ol>
        </p>



    </div>
</div>