<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 register-page">
        <div class="centered">
            <h1>Registration</h1>
        </div>
        <p>Username: <input ng-model="user.username"></p>
        <p>Email: <input ng-model="user.email"></p>
        <p>Password: <input ng-model="user.password"></p>
        <div class="centered">
            <button class="btn btn-primary equal-btn" ng-click="registerUser();">Submit</button>
        </div>
    </div>
</div>