{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Telephone</title>

        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- jQuery -->
        <script src="{% static "js/vendors/jquery-2.1.1.min.js" %}"></script>

        <!--- Angular --->
        <script src="{% static "js/vendors/angular/angular.js" %}"></script>
        <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>
        <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>

        <!--- JavaScript --->
        <script src="{% static "js/telephone.js" %}"></script>

        <!--- Factories --->
        <script src="{% static "js/factories/userFactory.js" %}"></script>

        <!--- Resources --->
        <script src="{% static "js/factories/userResource.js" %}"></script>

        <!--- Filters --->
        <script src="{% static "js/filter/trustedSource.js" %}"></script>

        <!--- Controllers --->
        <script src="{% static "js/controllers/homeController.js" %}"></script>
        <script src="{% static "js/controllers/startController.js" %}"></script>
        <script src="{% static "js/controllers/profileController.js" %}"></script>
        <script src="{% static "js/controllers/registerController.js" %}"></script>
        <script src="{% static "js/controllers/loginController.js" %}"></script>
        <script src="{% static "js/controllers/passController.js" %}"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/index.css" %}">

    </head>

    <body>
        <!--- Sidebars --->
        <div ng-app="telephone">
                <nav class="navbar" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Telephone</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            <div class="container-fluid">
                <div class="view app-content" ng-view></div>
                </div>
            </div>
        <footer class="footer">
            <div class="container">
                <h1>Footer</h1>
            </div>
        </footer>
    </body>
</html>